body{
     width: 100vw;
     margin: 0px;
     padding: 0px;
}
.fixed {
     
     color:  rgb(80, 10, 10);
     
    
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-items: center;
}
form input { width: 430px; height: 35px;

}
.allreciepe {
     margin-left: 120px;
}
.news a {
     margin: 10px;
     text-decoration: none;
    
}
.news {
     display: flex;
     align-items: center;
} 
.header { padding-top: 20px;
    
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fixed div {
     
}
#hedbox{border: 2px;border-color: #070000;background-color: #f1f1f1;
      border-style: outset;padding: 2px;
      
     

}



     li {
          display: inline-block;
          color: black;
     }
.hed li { padding-left: 150px;
     text-decoration: none;
     padding-bottom: 10px;

}

.art {
     display: flex; 
     flex-wrap: nowrap;
    justify-content: space-around;
    padding-top: 50px;
    /* margin: 50px; */
   max-height: 570px;
   margin-bottom: 30px;
    
    
}
  .art div {
  }

  
  .menu {
     background-color:whitesmoke;
      width: 230px;
      margin-left: 110px;
      padding-left: 20px;
      
     
  }
  .content {
      width: 700px;
     margin-right: 110px; 
     overflow-y: scroll; 
  }
  .foot b{
     display: block;
     padding: 10px;
     
  }
  .foot {
     margin-top: 110px;
  }
  .foot2 {
     margin-top: 110px;
  }

  .footer {
     display: flex; 
     flex-wrap: nowrap;
     justify-content: space-around; 
     border-top:whitesmoke; border-style: inset;
     background-color: whitesmoke;


  }
  .let b {
     border: 3px solid red;
     padding: 8px;
     padding-left: 100px;
     padding-right: 100px;
     background-color: white;
}
.all div {
     padding: 30px;
} 
