.header {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(146, 247, 247);
}
.header div {
    background-color: rgb(230, 242, 242);
    width: 200px;
    /* margin: 10px; */
    padding: 10px;
    text-align: end;
}
.pic { display: grid;
    grid-template-areas:
     "pic1 pic1 pic1" 
     "pic2 pic3 pic4 ";
     grid-template-columns: 1fr 1fr 1fr;
     gap: 10px;
     background-color: rgb(230, 242, 242);
     padding: 10px;

}
.pic div {background-color: aliceblue;
    padding: 200px;

}
.pic div.pic1 {
    grid-area: pic1;
    background-image: url(images/Oooh.jpg);
}
.pic div.pic2 {
    grid-area: pic2;
    background-image: url(images/download\ \(2\).jpg);
}
.pic div.pic3 {
    grid-area: pic3;
    background-image: url(images/download\ \(1\).jpg);
    ;
}
.pic div.pic4 {
    grid-area: pic4;
    /* background-image: url(images/download.jpg); */
}