body{
     width: 100vw;
     margin: 0px;
     padding: 0px;
}
.fixed {
     
     color:  rgb(80, 10, 10);
     
    
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-items: center;
}
form input { width: 430px; height: 35px;

}
.allreciepe {
     margin-left: 120px;
}
.news a {
     margin: 10px;
     text-decoration: none;
    
}
.news {
     display: flex;
     align-items: center;
} 
.header { padding-top: 20px;
    
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}


#hedbox{border: 2px;border-color: #070000;background-color: #f1f1f1;
      border-style: outset;padding: 2px;
      
     

}



     li {
          display: inline-block;
          color: black;
     }
.hed li { padding-left: 150px;
     text-decoration: none;
     padding-bottom: 10px;

}

     
    .p1 {
     margin-top: 20px; display: flex; flex-wrap: nowrap; 
    }
    .p2 {
     padding-left: 20px; padding-top: 100px;
    }
    .t1{
     display: flex;flex-wrap: nowrap; padding-top: 20px;
    }
    .t2 {
     padding-left: 20px;padding-top: 90px;}
     .t3 {
          display: flex; flex-wrap: nowrap;padding-top: 20px;

     }
     .t4 {
          padding-left: 20px;padding-top: 100px;
     }

     #topic {
           margin-left: 100px;


     }
     .box {display: flex; flex-wrap: nowrap; 
          margin-left: 100px;
          
     }
     .box div {background-color: #f1f1f1;
         border: 2px;
          border-color: rgb(89, 43, 43);border-style: dashed;
     
  width: 30px;
  margin: 2px;
  padding: 5px;
  text-align: center;  
  font-size: 15px;

     }
     .bigbox { color: white; background-color: #070000;
         border: 2px;
          
     
  width: 50px;
  margin: 2px;
  padding: 5px;
  text-align: center;  
  font-size: 50px;
  margin-left: 30px;
          
      }
      .foot b{
     display: block;
     padding: 10px;
     
  }
  .foot {
     margin-top: 110px;
  }
  .foot2 {
     margin-top: 110px;
  }

  .footer {
     display: flex; 
     flex-wrap: nowrap;
     justify-content: space-around; 
     border-top:whitesmoke; border-style: inset;
     background-color: whitesmoke;


  }
  .let b {
     border: 3px solid red;
     padding: 8px;
     padding-left: 100px;
     padding-right: 100px;
     background-color: white;
}
.all div {
     padding: 30px;
} 
