body{
     width: 100vw;
     margin: 0px;
     padding: 0px;
}
.fixed {
     
     color:  rgb(80, 10, 10);
     
    
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-around;
     align-items: center;
}
form input { width: 430px; height: 35px;

}
.allreciepe {
     margin-left: 120px;
}
.news a {
     margin: 10px;
     text-decoration: none;
    
}
.news {
     display: flex;
     align-items: center;
} 
.header { padding-top: 20px;
    
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.fixed div {
     
}
#hedbox{border: 2px;border-color: #070000;background-color: #f1f1f1;
      border-style: outset;padding: 2px;
      
     

}



     li {
          display: inline-block;
          color: black;
     }
.hed li { padding-left: 150px;
     text-decoration: none;
     padding-bottom: 10px;

}

     
     .fnt {
          text-align: center;
          margin-bottom: -100px;
          top: 120px;
          background-color: rgb(80, 10, 10);
          color: white;
     }
     body {
          overflow-y: 
          scroll;
     }
     #buttonx, #buttony {
          position: relative;
          top: 1000px; 
          text-align: center;
          left: 650px;
          background-color:  blanchedalmond;
           padding: 1px 30px;
           border: none;
            border-radius: 30px;
            cursor: pointer;
            ;
          }
     #buttony {
          position: relative;
          left: 700px;
      }
      #pic {
          image; position: relative;top: 50px;
      }
      .pics { display: flex;
          flex-wrap: nowrap;

      }
      .pics div {
          padding-right: 15px;
          padding-top: 50px;
          ;
      }
      .america {display: flex;flex-wrap: nowrap;
          
           background-color:rgb(80, 10, 10);padding: 1px; margin-top: 10px;
           font-size: 22px;
           color: white;
      }
   .america div {
     padding-left: 80px;
     /* padding: 10px; */
   }
   .sec { display: flex;flex-wrap: nowrap; flex-direction: column;
     float:right; margin-top: -570px;
     margin-right: 80px;padding: 27px;
   }
   .first { display: flex;flex-wrap: nowrap; flex-direction: column;float: right; 
   }
   .firstt {display: flex;flex-wrap: nowrap; flex-direction: column;float: right;
margin-right:110px;
   }
   #the {text-decoration: underline; 

   }
   .second { display: flex;flex-wrap: nowrap; flex-direction: column;float: right; 
margin-right: -20px;
   }
   .foot b{
     display: block;
     padding: 10px;
     
  }
  .foot {
     margin-top: 110px;
  }
  .foot2 {
     margin-top: 110px;
  }

  .footer {margin-top: 90px;
     display: flex; 
     flex-wrap: nowrap;
     justify-content: space-around; 
     border-top:whitesmoke; border-style: inset;
     background-color: whitesmoke;


  }
  .let b {
     border: 3px solid red;
     padding: 8px;
     padding-left: 100px;
     padding-right: 100px;
     background-color: white;
}
.all div {
     padding: 30px;
} 

  